/*---- COLOURS ----*/
/*---- Animation Colours ----*/
/*---- FONTS ----*/
@font-face {
  font-family: "Spantaran";
  src: url("./../fonts/Spantaran.ttf");
}
@font-face {
  font-family: "rainyhearts";
  src: url("./../fonts/rainyhearts.ttf");
}
/*---- FONTS ----*/
/*---- NAVBAR ----*/
body, html {
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
}

/*---- GRID TEMPLATE ----*/
body.portfolio {
  position: absolute;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10% !important;
  grid-template-columns: 10% 80% 10% !important;
  grid-template-rows: 57px 90% auto !important;
  -ms-grid-rows: auto auto;
      grid-template: "header header header" "main main main" "footer footer footer";
}

/*---- GRID TEMPLATE ----*/
/** Style <nav> */
nav {
  z-index: 2;
  font-size: 1rem;
  /** Style links */
}
nav a {
  color: #F0DBD1;
  display: block;
  padding: 1.3rem 2rem;
  text-decoration: none;
  font-family: rainyhearts;
}
nav ul, nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 20px 20px -17px #5D04D9;
          box-shadow: 0px 20px 20px -17px #5D04D9;
}
nav ul:hover, nav ul li:hover {
  animation: glowie 2s linear infinite alternate-reverse;
}
nav ul li:nth-child(3):hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
nav ul.ani-menu > ul {
  -webkit-box-shadow: none;
          box-shadow: none;
}
nav > ul {
  background-color: #0D0D0D;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li:first-child {
  border-left: none;
}
nav .ani-menu > li {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
@-webkit-keyframes glowie {
  1% {
    -webkit-box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
            box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
  }
  2% {
    -webkit-box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
            box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
  }
  3% {
    -webkit-box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
            box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
  }
  4% {
    -webkit-box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
            box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
  }
  5% {
    -webkit-box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
            box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
  }
  6% {
    -webkit-box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
            box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
  }
}
@keyframes glowie {
  1% {
    -webkit-box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
            box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
  }
  2% {
    -webkit-box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
            box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
  }
  3% {
    -webkit-box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
            box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
  }
  4% {
    -webkit-box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
            box-shadow: 0px 20px 20px -17px #360259, 0px 20px 20px -17px #360259;
  }
  5% {
    -webkit-box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
            box-shadow: 0px 20px 20px -17px #bf93fd, 0px 20px 20px -17px #bf93fd;
  }
  6% {
    -webkit-box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
            box-shadow: 0px 20px 20px -17px #5D04D9, 0px 20px 20px -17px #5D04D9;
  }
}

/** Style .menu */
.menu {
  position: relative;
  z-index: 2;
}

/** Style animated .menu */
.ani-menu {
  background-color: #0D0D0D;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transform: translateY(-3em);
          transform: translateY(-3em);
  -webkit-transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.ani-menu a {
  padding: 15px 40px;
  font-family: rainyhearts;
  -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
          box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}
.ani-menu a:hover {
  -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
          box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  animation: glowy 2s linear infinite alternate-reverse;
}
@-webkit-keyframes glowy {
  1% {
    -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
            box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  }
  2% {
    -webkit-box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
            box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
  }
  3% {
    -webkit-box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
            box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
  }
  4% {
    -webkit-box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
            box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
  }
  5% {
    -webkit-box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
            box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
  }
  6% {
    -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
            box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  }
}
@keyframes glowy {
  1% {
    -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
            box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  }
  2% {
    -webkit-box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
            box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
  }
  3% {
    -webkit-box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
            box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
  }
  4% {
    -webkit-box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
            box-shadow: -20px 0px 13px -15px #360259, 20px 0px 13px -15px #360259;
  }
  5% {
    -webkit-box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
            box-shadow: -20px 0px 13px -15px #bf93fd, 20px 0px 13px -15px #bf93fd;
  }
  6% {
    -webkit-box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
            box-shadow: -20px 0px 13px -15px #5D04D9, 20px 0px 13px -15px #5D04D9;
  }
}

.menu:focus .ani-menu,
.menu:focus-within .ani-menu,
.menu:hover .ani-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s, 0s, 0.3s;
          transition-delay: 0s, 0s, 0.3s;
}

/*---- TAGS ----*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: #0D0D0D;
  padding: 1em;
  display: block;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #1a1a1a;
  padding-left: 2em;
  color: #F0DBD1;
  -webkit-box-shadow: 0px 0px 10px 5px #8704BF;
          box-shadow: 0px 0px 10px 5px #8704BF;
  z-index: 0;
}

/* Float four columns side by side */
main .gallery {
  background-color: inherit;
  margin: 10px 50px;
  z-index: -1;
}
main .gallery .gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .gallery .gallery-row .image {
  padding: 0.5rem;
}
main .gallery .gallery-row .image img {
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}
main .gallery .gallery-row .image img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
main .gallery .gallery-row .image .imageinforow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .gallery .gallery-row .image .imageinforow h5 {
  -ms-grid-column-align: right;
      justify-self: right;
}
main .gallery .gallery-row .image .imageinforow .imagesubtitle {
  font-family: rainyhearts;
  font-size: 1rem;
  color: #F0DBD1;
  margin: 0px;
  margin-right: auto;
}
main .gallery .gallery-row .image .imageinforow .imagetag {
  font-family: rainyhearts;
  font-size: 0.8rem;
  color: #F0DBD1;
  margin: 0px;
}

@media (min-width: 320px) and (max-width: 786px) {
  body.portfolio {
    position: absolute;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100% !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 60px 90% auto !important;
    -ms-grid-rows: auto auto;
        grid-template: "header" "main" "footer";
    overflow: hidden;
  }

  main {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .gallery .gallery-row .image {
    padding: 0.1rem;
  }
  .gallery .gallery-row .imagesubtitle {
    font-size: 2em;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}