/*---- FONTS ----*/
@font-face {
  font-family: "Spantaran";
  src: url("./../fonts/Spantaran.ttf");
}
@font-face {
  font-family: "rainyhearts";
  src: url("./../fonts/rainyhearts.ttf");
}
/*---- FONTS ----*/