/*---- COLOURS ----*/
$dominant: black;
$secondary: lighten(black, 10%);
$accent: magenta;
$text: darken(white, 15%);
$text-secondary: lightgrey;

$primary-white: #F0DBD1;
$light-purple: #5D04D9;
$dark-purple: #360259;
$dark: #0D0D0D;
$pink: #8704BF;
/*---- COLOURS ----*/

/*---- FONTS ----*/
@font-face {
    font-family: 'Spantaran';
    src: url("../fonts/Spantaran.ttf");
}

@font-face {
    font-family: 'rainyhearts';
    src: url("../fonts/rainyhearts.ttf");
}

@font-face {
    font-family: 'RealityHyperRegular';
    src: url("../fonts/Reality\ Hyper\ Regular.ttf");
}

/*---- FONTS ----*/

/*---- GRID TEMPLATE ----*/
body, html {
    height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 27% 27% 27% 19% !important;
    grid-template-rows: 50px auto auto 10% !important;
    grid-template:
    "header header header projects"
    "main main main projects"
    "main main main devlog"
    "footer footer footer devlog";
}



/*---- TAGS ----*/
header {
    grid-area: header;
}

// Recent projects
section:nth-of-type(1) {
    grid-area: projects;
}

// Devlog
section:nth-of-type(2) {
    grid-area: devlog;
    z-index: 1;
}

main {
    grid-area: main;
    background-color: $dark;
    padding: 2em;
}

footer {
    grid-area: footer;
    background-color: $secondary;
    padding-left: 2em;
    color: $primary-white;
    box-shadow: 0px 0px 10px 5px $pink;
    z-index: 0;
}
/*---- TAGS ----*/

/*---- CLASSES ----*/
.navbar {
    overflow: hidden;
    background-color: $dark;
    z-index: 10;
    //border-bottom: 3px solid $accent;
    /* Links inside the navbar */
    a {
        font-family: rainyhearts;
        float: left;
        font-size: 30px;
        color: $primary-white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover {
        color: $pink;
    }

    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;

        /* Dropdown button */
        .dropbtn {
            font-family: rainyhearts;
            font-size: 30px;
            border: none;
            outline: none;
            color: $primary-white;
            /* this is the text. */
            padding: 14px 16px;
            background-color: inherit;
            margin: 0;
            /* Important for vertical align on mobile phones */
        }
    }

    /* Add a background color to navbar links on hover */
    .dropdown:hover .dropbtn {
        color: $light-purple;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $dark;
        min-width: 160px;
        z-index: 1;

        /* Links inside the dropdown */
        a {
            float: none;
            color: $primary-white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        a:hover {
            color: $pink;
        }
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /*---- END OF NAVBAR ----*/
}

.projects {
    display: block;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: none;

    .projects-header {
        h2 {
            margin: 0.3em;
            color: $primary-white;
            font-family: rainyhearts, monospace;
        }
        padding-bottom: 3px;
        box-shadow: 0px 0px 10px 5px $pink;
        position: sticky;
        top: 0;
        padding-top: 5px;
        background-color: $dark;
    }

    .projects-list {
        overflow-x: hidden;

        .projects-card {
            overflow-x: hidden;
            background-color: $secondary;
            padding-left: 0.5em;
            // border-bottom: 2px groove $accent;
        }

        p {
            font-family: Courier, monospace;
            color: $primary-white;
        }

        h3 {
            color: $primary-white;
        }

        #date {
            margin: 0;
            color: $primary-white;
        }
    }
}

.projects::-webkit-scrollbar {
    display: none;
}

.devlog {
    display: block;
    overflow-y: scroll;
    scrollbar-width: none;
    .devlog-header {
        h2 {
            margin: 0.3em;
            font-family: rainyhearts, monospace;
            color: $primary-white;
        }

        position: sticky;
        top: 0;
        padding-top: 5px;
        background-color: $dark;
        padding-bottom: 3px;
        box-shadow: 0px 0px 10px 5px $pink;
    }

    .devlog-feed {
        overflow-x: hidden;

        .devlog-entry {
            overflow-x: hidden;
            background-color: $secondary;
            padding-left: 0.5em;
            p {
                color: $primary-white;
                font-family: Courier, monospace;

            }

            h3 {
                color: $primary-white;
            }

            #date {
                margin: 0;
                color: $primary-white;
                margin-bottom: 10px;
            }
        }
    }
}

.devlog::-webkit-scrollbar {
    display: none;
}

.canvas-preview {
    border-radius: 20px;
    margin: 15px;
    width: 200px;
    height: 200px;
}
/*---- CLASSES ----*/

/*---- FX ----*/
/*---- FX ----*/
/*---- FX ----*/
/*---- FX ----*/
/* ---- CLASSES ---- */
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    text-align: center;
  }

.glitch {
    color: rgb(223, 191, 191);
    position: absolute !important;
    font-size: 9vw;
    font-family: 'Spantaran';
    // margin: 70px 200px;
    animation: glitch 5s 5s infinite;
  }

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            rgba(255, 255, 255, 0.05) .5%,
            transparent 1%);

    animation: fudge 7s ease-in-out alternate infinite;
}

.glow {
    @extend .glitch;
    text-shadow: 0 0 200px rgb(223, 191, 191);
    color: transparent;
    position: absolute;
}

.subtitle {
    font-family: 'rainyhearts';
    font-weight: 150;
    font-size: 1vw;
    color: $primary-white;
    text-transform: uppercase;
    letter-spacing: 1em;
}

/* ---- KEYFRAMES ---- */

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    $steps: 30;

    @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes noise-2 {
    $steps: 30;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}



/*---- MEDIA QUERIES ----*/

@media (min-width: 320px) and (max-width: 768px)  {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: 50px 20vh 40vh 40vh!important;
        grid-template:
        "header"
        "main"
        "projects"
        "devlog"
    }

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    footer {
        display: none;
    }

    /*---- FX ----*/
    .container {
        position: sticky;
        top: 15%;
        left: 0%;
    }
    .glow {
        @extend .glitch;
        text-shadow: 0 0 200px rgb(223, 191, 191);
        color: transparent;
        position: absolute;
    }
    
    .subtitle {
        font-family: 'rainyhearts';
        font-weight: 150;
        font-size: 1vw;
        color: $primary-white;
        text-transform: uppercase;
        letter-spacing: 1em;
    }

    .glitch {
        color: rgb(223, 191, 191);
        font-size: 9vw;
        font-family: 'Spantaran';
        // margin: 70px 200px;
        animation: glitch 5s 5s infinite;
      }
}