/*---- FONTS ----*/
@font-face {
    font-family: 'Spantaran';
    src: url("./../fonts/Spantaran.ttf");
    $spantaran: 'Spantaran';
}

@font-face {
    font-family: 'rainyhearts';
    src: url("./../fonts/rainyhearts.ttf");
    $rainyhearts: 'rainyhearts';
}
/*---- FONTS ----*/