@import "colour";
@import "fonts";
@import "mixins";

/*---- CONSTANT ----*/
html {
    scroll-behavior: smooth;
    p, h1, h2, h3, h4, h5, h6 {
        z-index: 30;
    }
}

body, html {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/*---- GRID TEMPLATE ----*/
body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr !important;
    grid-template-rows: 56px auto auto 10% !important;
    grid-template:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main";
}

/*---- TAGS ----*/
header {
    grid-area: header;
}

// Recent projects
section:nth-of-type(1) {
    grid-area: projects;
}

// Devlog
section:nth-of-type(2) {
    grid-area: devlog;
    z-index: 1;
}

main {
    grid-area: main;
    background-color: $dark;
    padding: 2em;
    overflow: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

footer {
    grid-area: footer;
    background-color: $secondary;
    padding-left: 2em;
    color: $primary-white;
    box-shadow: 0px 0px 10px 5px $pink;
    display: none;
    z-index: 0;
}
/*---- TAGS ----*/

/*---- CLASSES ----*/
@include mixNav1;
@include Sidebar;

.projects {
    max-height: 100vh;
    max-width: 50vw;
    display: block;
    overflow-y: scroll !important;
    scrollbar-width: none;

    .projects-header {
        h2 {
            text-align: center;
            margin: 0.3em;
            color: $primary-white;
            font-family: rainyhearts, monospace;
        }
        padding-bottom: 3px;
        box-shadow: 0px 0px 10px 5px $pink;
        position: sticky;
        top: 0;
        padding-top: 5px;
        background-color: $dark;
    }

    .projects-list {
        overflow-x: hidden;

        .projects-card {
            overflow-x: hidden;
            background-color: $secondary;
            padding-left: 0.5em;
            padding-right: 0.5em;
            border-right: 2px solid $dark-purple;
            // border-bottom: 2px groove $accent;
        }

        p {
            font-family: Courier, monospace;
            color: $primary-white;
        }

        h3 {
            color: $primary-white;
        }

        #date {
            margin: 0;
            color: $primary-white;
        }
    }
}

.projects::-webkit-scrollbar {
    display: none;
}

.devlog {
    max-height: 100vh;
    max-width: 50vw;
    display: block;
    overflow-y: scroll;
    scrollbar-width: none;
    .devlog-header {
        h2 {
            text-align: center;
            margin: 0.3em;
            font-family: rainyhearts, monospace;
            color: $primary-white;
        }

        position: sticky;
        top: 0;
        padding-top: 5px;
        background-color: $dark;
        padding-bottom: 3px;
        box-shadow: 0px 0px 10px 5px $pink;
    }

    .devlog-feed {
        overflow-x: hidden;

        .devlog-entry {
            overflow-x: hidden;
            background-color: $secondary;
            padding-left: 0.5em;
            padding-right: 0.5em;
            p {
                color: $primary-white;
                font-family: Courier, monospace;

            }

            h3 {
                font-family: rainyhearts;
                color: $primary-white;
            }

            #date {
                margin: 0;
                color: $primary-white;
                margin-bottom: 10px;
            }
        }
    }
}

.devlog::-webkit-scrollbar {
    display: none;
}

.canvas-preview {
    border-radius: 20px;
    margin: 15px;
    width: 200px;
    height: 200px;
}


.mainContent {
    background-image: url('./../img/80s\ wallpaper/webdevbackground.jpg');
    background-position: 50%, 100%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    &--backgroundfilter {
        filter: grayscale(50%);
    }
    &--wrapper {
        color: $primary-white;
        .mainContent--body {
            background-color: rgba(0, 0, 0, 0.70);
            border-radius: 5px;
            width: 80%;
            top: 10%;
            left: 10%;
            position: absolute;
            justify-content: center;
            & > h2 {
                font-family: spantaran;
                letter-spacing: 0.4rem;
            }
            & > p {
                font-family: rainyhearts;
            }
            & > h2, & > p {
                text-align: center;
            }
        }
    }
}

.projectLog {
    background-position: 50%, 100%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200%;
    left: 0%;
    &--wrapper {
        display: flex;
    }
    &--body {
        & > section:nth-of-type(1) {
            position: absolute;
            left: 0%;
        }
        & > section:nth-of-type(2) {
            position: absolute;
            left: 50%;
        }
    }
}
/*---- CLASSES ----*/

/*---- FX ----*/
/*---- FX ----*/
/*---- FX ----*/
/*---- FX ----*/
/* ---- CLASSES ---- */
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
    .glitch {
        color: rgb(223, 191, 191);
        font-size: 10rem;
        font-family: spantaran;
        margin: 70px 200px;
        animation: glitch 5s 5s infinite;
        &::before {
          content: attr(data-text);
          position: absolute;
          left: -2px;
          text-shadow: -5px 0 magenta;
          overflow: hidden;
          top: 0;
          animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
        }
        &::after {
          content: attr(data-text);
          position: absolute;
          left: 2px;
          text-shadow: -5px 0 lightgreen;
          overflow: hidden;
          top: 0;
          animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
        }
      }
    .glow {
        @extend .glitch;
        top: 0;
        left: 0; 
        position: absolute;
        text-shadow: 0 0 200px rgb(223, 191, 191);
        color: transparent;
    }
    .subtitle {
        font-family: 'rainyhearts';
        font-weight: 150;
        font-size: 1rem;
        color: $primary-white;
        text-transform: uppercase;
        letter-spacing: 2em;
    }
  }


.scanlines {
    overflow: visible;
    mix-blend-mode: difference;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background: repeating-linear-gradient(
            to bottom,
            transparent 0%,
             rgba(255, 255, 255, 0.05) .5%,
            transparent 1%
        );

        animation: fudge 7s ease-in-out alternate infinite;
    }
}






/* ---- KEYFRAMES ---- */

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    $steps: 30;

    @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes noise-2 {
    $steps: 30;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}



/*---- MEDIA QUERIES ----*/

@media (min-width: 320px) and (max-width: 768px)  {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: 50px 20vh 40vh 40vh!important;
        grid-template:
        "header"
        "main"
        "projects"
        "devlog"
    }

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    footer {
        display: none;
    }

    /*---- FX ----*/
    .container {
        position: sticky;
        top: 15%;
        left: 0%;
    }
    
    .subtitle {
        font-family: rainyhearts;
        font-weight: 150;
        font-size: 1vw;
        color: $primary-white;
        text-transform: uppercase;
        letter-spacing: 1em;
    }

    .glitch {
        color: rgb(223, 191, 191);
        font-size: 9vw;
        font-family: spantaran;
        // margin: 70px 200px;
        animation: glitch 5s 5s infinite;
      }

      .glow {
        display: none;
      }
}