@mixin mixinNavbar {
    .navbar {
        overflow: hidden;
        background-color: $dark;
        z-index: 10;
        //border-bottom: 3px solid $accent;
        /* Links inside the navbar */
        a {
            font-family: rainyhearts;
            float: left;
            font-size: 30px;
            color: $primary-white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    
        a:hover {
            color: $pink;
        }
    
        /* The dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
    
            /* Dropdown button */
            .dropbtn {
                font-family: rainyhearts;
                font-size: 30px;
                border: none;
                outline: none;
                color: $primary-white;
                /* this is the text. */
                padding: 14px 16px;
                background-color: inherit;
                margin: 0;
                /* Important for vertical align on mobile phones */
            }
        }
    
        /* Add a background color to navbar links on hover */
        .dropdown:hover .dropbtn {
            color: $light-purple;
        }

        .dropdown:hover {
            height: 112px;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.1s;
            &::before {
                height: 0px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
            }
        }
    
        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $dark;
            min-width: 160px;
            z-index: 15;
            
            /* Links inside the dropdown */
            a {
                float: none;
                color: $primary-white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
    
            a:hover {
                color: $pink;
            }
        }
    
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    }
}
/*---- NAVBAR ----*/

@mixin Sidebar {
    .sidebarWrapper {
        display: none;
    }
}


@mixin mixNav1 {
    /** Style <nav> */
    nav {
        z-index: 2;
        font-size: 25px;
        /** Style links */
        a {
            color: $primary-white;
            display: block;
            padding: 15px 60px;
            text-decoration: none;
            font-family: rainyhearts;
        }
        ul, ul li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        & > ul {
            background-color: $secondary;
            text-align: center;
        }
        & > ul > li {
            display: inline-block;
            border-left: 1px solid $primary-white;
        }

        & > ul > li:first-child {
            border-left: none;
        }
    }
    /** Style .menu */
    .menu {
        position: relative;
        z-index: 2;
    }
    
    /** Style animated .menu */
    .ani-menu {
        background-color: $secondary;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        z-index: -1;
        transform: translateY(-3em);
        transition: all 0.3s ease 0s,
            visibility 0s linear 0.3s, 
            z-index 0s linear 0.01s;
        a {
        width: 70%;
        padding: 15px 40px;
        font-family: rainyhearts;
        &:hover {
            background-color: $secondary;
        }
        }
    }


    .menu:focus .ani-menu,
    .menu:focus-within .ani-menu,
    .menu:hover .ani-menu {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0);
        transition-delay: 0s, 0s, 0.3s;
    }
}