@import "colour";
@import "fonts";
@import "mixins";

body, html {
  height: 100vh;
  width: 100vw;
  background-color: $secondary;
}

/*---- GRID TEMPLATE ----*/
body.portfolio {
    position: absolute;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 80% 10% !important;
    grid-template-rows: 57px 90% auto !important;
    grid-template:
    "header header header"
    "main main main"
    "footer footer footer";
}
/*---- GRID TEMPLATE ----*/
@include mixNav1;
/*---- TAGS ----*/
header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: $dark;
    padding: 1em;
    display: block;
}

footer {
    grid-area: footer;
    background-color: $secondary;
    padding-left: 2em;
    color: $primary-white;
    box-shadow: 0px 0px 10px 5px $pink;
    z-index: 0;
}



/* Float four columns side by side */
main .gallery {
  background-color: inherit;
  margin: 10px 50px;
  z-index: -1;
  .gallery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .image {
      padding: 0.5rem;
      img {
        height: 200px;
        filter: grayscale(100%);
        transform: scale(1);
        transition: 1s;
      }
      img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: 1s;
      }
      .imageinforow {
        display: flex;
        flex-wrap: nowrap;
        h5 {
          justify-self: right;
        }
        .imagesubtitle {
          font-family: rainyhearts;
          font-size: 1rem;
          color: $primary-white;
          margin: 0px;
          margin-right: auto;
        }
        .imagetag {
          font-family: rainyhearts;
          font-size: 0.8rem;
          color: $primary-white;
          margin: 0px;
        }
      }
    }
  }
}


@media (min-width: 320px) and (max-width: 786px) {
  body.portfolio {
    position: absolute;
    margin: 0;
    display: grid;
    grid-template-columns: 100% !important;
    grid-template-rows: 60px 90% auto !important;
    grid-template:
    "header"
    "main"
    "footer";
    overflow: hidden;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
}

.gallery {
  .gallery-row {
    .image {
      padding: 0.1rem;
    }
    .imagesubtitle {
      font-size: 2em;
    }
  }
}
}